nav.navbar.navbar-expand-lg.bg-dark
  .container
    a.navbar-brand(href='/') ClassBit
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#mainNavbar', aria-controls='mainNavbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-bar.navbar-kebab
      span.navbar-toggler-bar.navbar-kebab
      span.navbar-toggler-bar.navbar-kebab
    #mainNavbar.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='index.html')
            | Начало 
        li.nav-item
          a.nav-link(href='#') Учебници
        li.nav-item
          a.nav-link(href='#') Категории