extends layout
body
  block content
    include navbar
    .container
      .row
        .col-lg-3
          h1.my-4 ClassBit
          .row
              .col-lg-9
              ul.nav.nav-pills.nav-pills-info.flex-column
                li.nav-item
                  a.nav-link.active(href='#') Клас
                li.nav-item
                  a.nav-link(href='#') Предмет
                li.nav-item
                  a.nav-link(href='#') Вид подготовка 
        // /.col-lg-3
        .col-lg-9
          .card.mt-4
            img.card-img-top(src=`/photos/${book.book.imageLink}`, alt='Card image cap')
            .card-body
              h5 #{book.price} лв.
              p.card-text
                | #{book.description}
          br
          // /.card
          .card.card-nav-tabs
            .card-header.card-header-info
              | Comments
            .card-body
              h4.card-title Comment title
              p.card-text Lorem ipsum dolor sit amet.
              p.text-right Author       
          // /.container
          // Footer
          footer.py-5.bg-dark
              .container
                p.m-0.text-center.text-white © ClassBit 2018
              // /.container
              // Core JavaScript Files
              script(src='js/jquery.min.js', type='text/javascript')
              script(src='js/popper.min.js', type='text/javascript')
              script(src='js/bootstrap-material-design.min.js', type='text/javascript')
              script(src='js/material-kit.min.js', type='text/javascript')
